* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #333;
  background-color: #aad3df;
}

/* height of the container dd*/
.leaflet-container {
  height: 100vh;

  width: 100%;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.suggestion-list::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.suggestion-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

.suggestion-list::-webkit-scrollbar-thumb {
  background: #b8b8b8; /* color of the scrollbar */
  border-radius: 1px; /* roundness of the scrollbar */
}

.suggestion-list::-webkit-scrollbar {
  width: 4px;
}

.suggestion-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.suggestion-list::-webkit-scrollbar-thumb {
  background: #888;
}

.suggestion-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}